<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodega</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Fjord+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

</head>
<body>

    <div class="jumbotron"></div>
    @if (User.Identity.Name == "Admin")
    {
        <div class="navbar navbar-inverse">
            
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Bodega", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="navigation" href="#Home">Home</a></li>
                        <li><a class="navigation" href="#Meny">Meny</a></li>
                        <li><a class="navigation" href="#Gallery">Gallery</a></li>
                        <li><a class="navigation" href="#Contact">Admin</a></li>

                    </ul>
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="navigation navbar-brand" href="#Home">Hem</a></li>
                        <li><a class="navigation" href="#AddNews">Skapa en nyhet</a></li>
                        <li><a class="navigation" href="#Meny">Meny</a></li>
                        <li><a class="navigation" href="#Gallery">Galleri</a></li>
                        <li><a data-toggle="modal" data-target="#contact" data-original-title>Kontakta oss</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/script.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
